<div class="container mt-3">
  <mat-card>
    <mat-card-title>Update Restaurant</mat-card-title>
    <mat-card-content>
      <form [formGroup]="restaurantForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" required></textarea>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label>Location</mat-label>
            <input matInput formControlName="location" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Contact</mat-label>
            <input matInput formControlName="contact" required>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label>Opening Hours</mat-label>
            <input matInput formControlName="hours" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Cuisine Type</mat-label>
            <input matInput formControlName="cuisine" required>
          </mat-form-field>
        </div>
        <div class="mb-2">
          <label for="image">Image:</label>
          <input type="file" id="image" (change)="onFileSelected($event)">
        </div>
        <div *ngIf="selectedImage || restaurantForm.value.image">
          <img [src]="selectedImage || restaurantForm.value.image" alt="Image preview" style="max-width: 15%; height: 15%;">
        </div>
        <button mat-raised-button color="primary" type="submit">Update Restaurant</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
